body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.form-section {
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.right-side {
    background-color: #e7e6ff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.right-side img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    width: 70%;
}

.btn-google {
    background-color: #ffffff;
    color: #444;
    border: 1px solid #ccc;
}

.btn-google img {
    width: 20px;
    margin-right: 10px;
    height: 20px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd;
}

.divider:not(:empty)::before {
    margin-right: 10px;
}

.divider:not(:empty)::after {
    margin-left: 10px;
}

.footer-text {
    text-align: center;
    margin-top: 20px;
}

/* Media Queries for Responsive Design */

/* Mobile devices */
@media (max-width: 575px) {
    .login-container {
        flex-direction: column;
        height: auto;
    }

    .form-section, .right-side {
        max-width: 100%;
        width: 100%;
        padding: 20px;
    }

    .right-side img {
        max-width: 100%;
        height: auto;
    }

    .footer-text {
        font-size: 14px;
    }

    .form-section {
        padding: 30px;
    }
}

/* Tablets and small devices */
@media (min-width: 576px) and (max-width: 767px) {
    .login-container {
        flex-direction: column;
    }

    .form-section, .right-side {
        max-width: 100%;
        width: 100%;
    }

    .right-side img {
        max-width: 90%;
        height: auto;
    }
}

/* Desktop devices */
@media (min-width: 768px) {
    .form-section {
        width: 50%;
        padding-right: 20px;
    }

    .right-side {
        width: 50%;
        padding-left: 20px;
    }

    .footer-text {
        font-size: 16px;
    }
}

/* Large desktop screens */
@media (min-width: 1200px) {
    .form-section {
        width: 45%;
    }

    .right-side {
        width: 55%;
    }
}
